In [4]:
stack =[]
stack.append([1],[2])

TypeError: append() takes exactly one argument (2 given)

In [1]:
def change(test_list,x,y):
    output = test_list[x][y]*2
    test_list[x][y] = 0
    return output

In [11]:
stack =[[1, -2], [1, 3]]

In [10]:
for result in stack:
    print(result)
    if sum(result) != 1:
        print(result)
        stack.remove(result)

[1, -2]
[1, -2]

In [12]:
for result in stack:
    print(result)
    stack.remove(result)

[1, -2]

In [15]:
[result for result in stack and sum(result)=1]

SyntaxError: invalid syntax (<ipython-input-15-c7553a96283e>, line 1)

In [8]:
string = "       gaojingsheng is hansome     "

In [11]:
print(string)
newone = string.rstrip()
print(newone)

       gaojingsheng is hansome
       gaojingsheng is hansome

In [13]:
paragraph = "Bob hit a ball, the hit BALL flew far after it was hit."

In [19]:
stack = paragraph.split()
print(stack)

['Bob', 'hit', 'a', 'ball,', 'the', 'hit', 'BALL', 'flew', 'far', 'after', 'it', 'was', 'hit.']

In [24]:
ord("m")-96

13

In [4]:
word[0] = "l"

TypeError: 'str' object does not support item assignment

In [27]:
paragraph.split(" ",2)

['Bob', 'hit', 'a ball, the hit BALL flew far after it was hit.']

In [1]:
test = [-1*8]

In [2]:
test

[-8]

In [1]:
test = [5,5,1,7,1,1,5,2,7,6]

In [2]:
import bisect

In [7]:
bisect.bisect_left(test,7)

8

In [30]:
import pygame

ModuleNotFoundError: No module named 'pygame'

In [1]:
def readdile():
    filename = ""
    f = open(filename,r)

In [2]:
import pandas as pd

In [29]:
papa = pd.read_csv("my.txt",sep = " ",header = None)
papa.head()

   0        1             2  3
0  1        2  gaojingsheng  4
1  5  hansome             6  7

In [12]:
type(papa)

pandas.core.frame.DataFrame

In [13]:
papa.head()

   1        2  gaojingsheng  4
0  5  hansome             6  7

In [17]:
papa[0:1]

   1        2  gaojingsheng  4
0  5  hansome             6  7

In [18]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1+list2)

[1, 2, 3, 4, 5, 6]

In [35]:
a = 3
b = 7
print(a^b+(a&b)<<1)

23

In [21]:
import numpy as np
pd.DataFrame(np.random.rand(20,5))

           0         1         2         3         4
0   0.946921  0.688995  0.008115  0.058334  0.746287
1   0.322175  0.927305  0.409401  0.289019  0.124862
2   0.039189  0.529945  0.929825  0.147287  0.873591
3   0.116537  0.936249  0.586382  0.371782  0.379759
4   0.441068  0.191871  0.433359  0.634777  0.235721
5   0.536450  0.458054  0.816271  0.130026  0.543382
6   0.800560  0.079350  0.916640  0.035114  0.772903
7   0.672269  0.253857  0.605791  0.791512  0.418270
8   0.839466  0.574048  0.265096  0.816660  0.279182
9   0.412716  0.465421  0.685346  0.493019  0.275828
10  0.451102  0.488177  0.431369  0.148615  0.551341
11  0.556105  0.151415  0.070238  0.442353  0.094344
12  0.320031  0.214805  0.279420  0.694587  0.159462
13  0.051337  0.076195  0.132295  0.329256  0.948049
14  0.721356  0.968500  0.145226  0.555589  0.932431
15  0.379027  0.533093  0.170270  0.125929  0.705407
16  0.958666  0.475758  0.424878  0.440471  0.261831
17  0.679892  0.939215  0.574707  0.773218  0.181120
18  0.496797  0.673320  0.677076  0.332609  0.877410
19  0.790781  0.579239  0.623886  0.263647  0.175007